@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  display: block;
  overflow: hidden;
  max-height: 500px;
  width: 100%;
}

.img-flex {
  position: relative;
  display: block;
  width: 100%;
}

.banner h2 {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  float: left;
  width: 50%;
  max-width: 50em;
  font-size: 3rem;
  font-weight: bolder;
}

.banner p {
  display: block;
  font-size: 1.5rem;
  position: absolute;
  top: 20%;
  left: 50%;
  float: left;
  width: 50%;
  max-width: 50em;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-big {
  position: absolute;
  top: 35%;
  left: 50%;
  float: left;
  width: 50%;
  max-width: 50em;
}

.img-circle {
  display: block;
  position: absolute;
  top: 2rem;
  left: 1rem;
  z-index: 1000;
  width: 30%;
}

.btn {
  background-color: #333;
  padding: 1rem;
  border: 2px;
  border-radius: 7px;
  color: #fff;

  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}
